*~
*.log
.initialized
config.status
auto.cgpr
CHANGES
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.log
atlas.gpr
ChangeLog
.settings
configure.lineno
autom4te.cache
Makefile.conf
*.txt
*.gcov
*.mat
lib/
obj/
							       