/*.atlas #awa-content {
    padding-top: 92px;
}*/
#awa-page {
    padding-top: 2em;
}
.page-storages #awa-page {
    padding-top: 0;
}
.EasyMDEContainer .CodeMirror pre.CodeMirror-line {
    font-family: monospace;
}

#atlas-logo {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    float: right;
}
#awa-hdr #atlas-title {
    color: #26d3ff;
    font-weight: bold;
    font-size: 1.3em;
}
#awa-clfooter {
    height: 50px;
}
.atlas-gravatar {
    float: left;
    width: 100px;
}
@media (max-width: 768px) {
    .awa-menu li {
        display: none;
    }
}

.page-wiki .atlas-tab-wiki, .page-blog .atlas-tab-news, .page-question .atlas-tab-question, .page-reviews .atlas-tab-reviews {
    display: block;
}
.awa-side-menu:checked ~ nav li {
    display: block;
}
.atlas-mblog {
    float: left;
    width: 80%;
}
.atlas-mblog dl {
    width: 60%;
    float: left;
}
.atlas-mblog ul {
    width: 10%;
    float: left;
}
.atlas-mblog ul.awa-buttons {
    padding-top: 8px;
}
div.atlas-author {
    font-weight: bold;
    font-size: 0.9em;
}
div.atlas-time {
    font-size: 0.6em;
    color: #ccc;
}
div.message {
    float: left;
    width: 96%;
    margin: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #a6c9e2;
    padding-bottom: 5px;
}
div.message img {
    padding: 3px;
    border: 1px solid #a6c9e2;
}
div.message-form {
    float: left;
    margin: 2%;
}
#forum-posts {
    margin-top: 20px;
    float: left;
    display: block;
    width: 90%;
}
.atlas #form-block {
    float: left;
    width: 60%;
}
#atlas-user-stat {
    padding-left: 2%;
    padding-right: 2%;
    width: 98%;
    clear: none;
    float: right;
    margin-bottom: 1em;
}
#atlas-user-stat .ui-panel-header, #atlas-user-stat .ui-panel-content {
    width: 98%;
}

dl.awa-required div.markedit textarea {
    width: 99%;
    padding: 0;
}
div.markedit div.markedit-toolbar {
    width: 99%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

#folder-list-editor {
    float: left;
}
#folder-create {
    float: left;
    clear: both;
}
.ui-resizable-e {
    background: #f0f0f0;
}
div.atlas-button {
    float: left;
    width: 70%;
    margin-bottom: 5px;
    background: #DFEFFC;
    border: 1px solid #C5DBEC;
    color: #2E6E9E;
    border-radius: 5px;
}
.atlas li.atlas-action a {
    display: block;
    padding: 5px;
    line-height: 16px;
    color: #2E6E9E;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 8px;
}

div.atlas-badge {
    float: right;
    width: 32px;
    height: 32px;
    background: url(../images/badge.png);
    text-align: center;
}
ul.atlas-stat {
    list-style-type: none;
}
li.atlas-action {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 20px;
}
div.ui-panel {
    width: 99%;
}
div.ui-panel, div.ui-panel-content {
    overflow: hidden;
}
div.likes {
    float: left;
    padding-top: 15px;
    width: 100%;
    height: 30px;
}
div.likes div.like-facebook, div.likes div.like-google, div.likes div.like-twitter {
    width: 100px;
    float: left;
    height: 30px;
    overflow: hidden;
}
div.likes div.like-google {
    width: 70px;
}
/**
 * Review module style.
 */
#review-nav-ask .awa-button {
    background: #DFEFFC;
    border: 1px solid #C5DBEC;
}

div.atlas-reviews {
	float: left;
	width: 100%;
}
div.atlas-reviews div.review {
	float: left;
	width: 99%;
	padding-top: 0.2em;
	padding-bottom: 0.4em;
	padding-left: 1%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
div.atlas-reviews div.review-title {
	float: left;
    width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.4em;
}
div.atlas-reviews div.review-text {
	float: left;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
	padding-bottom: 0.5em;
}
div.atlas-reviews div.review-title h2 a, div.atlas-reviews div.review-title h2 a:visited {
    text-decoration: none;
    color: #F91;
    font-size: 1.2em;
}
ul.review-info {
	list-style-type: none;
	float: left;
}
ul.review-info li {
	float: left;
	padding-right: 1em;
	font-size: 0.7em;
}
ul.review-info a, ul.review-info span {
	padding-top: 0;
	padding-bottom: 5px;
    line-height: 12px;
    display: block;
}
